Uppdate text around NumericDate.

* I find the text for NumericDate confusing and would suggest this is a
cleaner wording.

The "NumericDate" term has the same meaning, syntax and
Processing rules as the "NumericDate" term defined in Section 2 of
JWT [RFC7519], except that the CBOR numeric representation
(Section 2.4.1 of [RC7049]) is used.  The encoding is modified so that
the leading tag (6.1 or 0xC1) MUST be omitted.

<Note above text kills the direct need for section 5.>

I'm OK with the proposed text.

I think we should keep Section 5 (CBOR Tags and Claim Values) so that we make it obvious to implementers that tags are not to be used on the defined claim values.  I'm OK changing the NOT RECOMMENDED to a MUST NOT statement.

I do think that we should add a sentence to Section 5 saying that "However, this section does not prohibit future claim definitions from requiring the use of CBOR tags for those specific claims."